default {{ pxe_opts.os_distribution }}
prompt   10
timeout  20

label {{ pxe_opts.os_distribution }}
  kernel {{ pxe_opts.path_to_vmlinuz }}
  ipappend 2
  append ksdevice=bootif ks={{ pxe_opts.protocol }}:{{ pxe_opts.pxe_server_ip }}:{{ pxe_opts.path_to_kickstart_cfg }} initrd={{ pxe_opts.path_to_initrd }}  text splash=silent showopts
